* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f8f8f8;
  color: #222;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.navbar ul{
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(120deg, #007bff, #00aaff);
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  padding: 12px 28px;
  border: none;
  background: #fff;
  color: #007bff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background: #e6e6e6;
}

/* ABOUT */
.about {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 70px 50px;
}

.about img {
  width: 450px;
  border-radius: 10px;
}

.about-text {
  max-width: 500px;
}

.about-text h2 {
  margin-bottom: 15px;
}

/* JOBS */
.jobs {
  padding: 70px 50px;
  text-align: center;
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.job-card {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* TEAM */
.team {
  display: flex;
  gap: 40px;
  padding: 70px 50px;
}

.team img {
  width: 400px;
  border-radius: 10px;
}

.team-text {
  max-width: 500px;
}

/* BENEFITS */
.benefits {
  padding: 70px 50px;
  text-align: center;
}

.benefit-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.benefit-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* APPLY */
.apply {
  padding: 60px 50px;
  background: #fff;
  text-align: center;
}

.apply input,
.apply textarea {
  width: 60%;
  display: block;
  margin: 12px auto;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* FOOTER */
footer {
  background: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}
